player-connection-mode=Listen
player-connection-guid=1251998905
player-connection-debug=1
player-connection-project-name=undertale ripoff
player-connection-ip=10.0.0.4
player-connection-ip=172.31.192.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=672be0f3765f4ab6b62ca5c5f621b7b0
